#root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%;
}

.device {
    box-sizing: border-box;
    position: relative;
    border: 20px solid #000000;
    border-radius: 45px;
    padding-top: 3px;
    width: 800px;
    height: 500px;
    background-color: #f5f8f6;
}

.device-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15px;
    /* background-color: #000000; */
}

.device-header-left,
.device-header-right {
    display: flex;
    align-items: center;

}

.device-header-left {
    margin-left: 10px;
    font-size: 10px;
    font-weight: 800;

    & > .device-header-left-ampm,
    .device-header-left-time,
    .device-header-left-date {
        color: #000000;
        cursor: default;
        margin-left: 5px;
    }
}

.device-header-right {
    height: 100%;
    margin-right: 10px;
}
.controll-size {
    height: 100%;
    width: 100px;
    display: flex;
    position: relative;

    & svg {
        position: absolute;
        width: 20px;
        height: 15px;
        fill: #000000;
        stroke: #000000;
    }

    & > .temp0 {
        right: 40px;
    }

    & > .temp {
        right: 25px;
        fill: #f5f8f6;
        stroke: #000000; 
    }

    & > .temp2 {
        right: 20px;
        width: 10px;
        height: 15px;
    }

    & > .temp3 {
        right: 0px;
    }
}

.main-layout {
    /*버튼 포함해서 게시글들 col으로 밑으로 쭉쭉*/
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    /* background-color: #f5f8f6; */
    overflow-y: auto;

    /*input같은거 여러개 넣으면 스크롤바 생기는데 안보이게*/
    &::-webkit-scrollbar { 
        display: none;
    }
}
